<%= simple_form_for @card, html: { multipart: true } do |f| %>
  <%= f.association :deck, collection: current_user.decks %>
  <%= f.input :original_text %>
  <%= f.input :translated_text %>
  <p>Выберите изображение</p>
  <%= image_tag @card.picture.url if @card.picture? %>
  <%= f.input :picture, as: :file, id: 'picture' %>
  <p>Или вставьте ссылку на изображение</p>
  <%= f.input :picture_remote_url, id: 'picture_remote_url' %>
  <%= f.submit %>
<% end %>
